<aside class="sidebar" [ngClass]="collapsed ? 'collapsed':'expanded'">
    <div class="sidebar-header">
        <a href="/">Dataviewer</a>
        <i class="sidebar-toggle" (click)="toggleSidebar()">X</i>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li *ngFor="let item of items" class="sidebar-list-item">
                <a [href]="item"><i class="sidebar-item-icon"></i> <span class="sidebar-item-text">{{item}}</span> </a>
            </li>
        </ul>
    </div>
</aside>
