<div id="sidebar">
    <div class="sidebar-header">
        <a href="/">Dataviewer</a>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li class="sidebar-list-item"><a href="/connections"><i class="sidebar-item-icon"></i> <span class="sidebar-item-text">Connections</span> </a></li>
            <li class="sidebar-list-item"><a href="/queries"><i class="sidebar-item-icon"></i> <span class="sidebar-item-text">Queries</span> </a></li>
            <li class="sidebar-list-item"><a href="/settings"><i class="sidebar-item-icon"></i> <span class="sidebar-item-text">Settings</span> </a></li>
        </ul>
    </div>
</div>