.create-connection-form {
    background-color: #fff;
    padding: 15px;
}

.form-header {
    font-weight: bold;
    margin: 0;
    line-height: 1.42857143;
}

.form-group-inline {
    display: flex;
}

.form-item {
    margin: 5px 5px 10px 5px;

    label {
        font-size: 13px;
        font-weight: 600;
        color: #2e3b48;
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"] {
        -webkit-appearance: none;
        color: #0a2432;
        border: 1px solid #169ce1;
        height: 36px;
        line-height: 1.3333333;
        background-color: #fff;
        outline: none;
        padding-left: 15px;
    }

    input[type="number"] {
        max-width: 85px;
    }
}

button {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    border-width: 0;
    color: #fff;
    background-color: #0061af;
    font-weight: 600;
    margin: 15px 15px 10px 5px;

    &.gray{
        background-color: #a8a8a8;
    }
}
