.create-connection-form {
    background-color: #fff;
    padding: 15px;
}

.form-header {
    font-weight: bold;
    margin: 0;
    line-height: 1.42857143;
}

.form-group-inline {
    display: flex;
}

