<ng-template [ngIf]="loading" #loadingBar>
    <div class="lds-ellipsis" *ngIf="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>


<div [ngClass]="!loading ? 'modal-content' : 'hidden'">
    <div class="modal-header">
        <span class="close-icon" (click)="close()">&times;</span>
        <h4 class="title">{{editMode ? "Edit connection" : "Create connection" }}</h4>
    </div>
    <ng-container *ngTemplateOutlet="loadingBar"></ng-container>
    <div class="create-connection-form">
        <form [formGroup]="connectionForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="connection-type">Type: </label>
                <select formControlName="type">
                    <option *ngFor="let connectionType of connectionTypes$ | async" [ngValue]="connectionType">
                        {{connectionType}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="connection-name">Name: </label>
                <input id="connection-name" type="text" formControlName="name">
            </div>

            <formly-form [form]="connectionDetailsForm" [fields]="fields" [model]="model" [options]="formOptions">
            </formly-form>

            <div class="form-group">
                <button type="submit">Submit</button>
                <button class="gray">Test</button>
            </div>

        </form>
    </div>
</div>