<aside class="sidebar" [ngClass]="collapsed ? 'collapsed':'expanded'">
    <div class="sidebar-header">
        <a href="/">{{ collapsed ? "DV" : "Dataviewer"}}</a>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li *ngFor="let item of items" class="sidebar-list-item">
                <a [href]="item" routerLink="{{item}}"><i class="sidebar-item-icon"></i> <span class="sidebar-item-text">{{item}}</span> </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-toggle" (click)="toggleSidebar()">{{ collapsed ? ">" : "<"}}</div>
</aside>
