<form [formGroup]="queryForm" (ngSubmit)="onSubmit()" [ngStyle]="loaded ? {'opacity':'1', 'margin-top':'0px'}: {'opacity':'0', 'margin-top':'-20px'}">
    <div class="query-panel">
        <input type="text" class="connection-name inline-edit" formControlName="name"
            [size]="queryForm.value.name.length">

        <select class="connection-type" formControlName="connectionId">
            <option [ngValue]="null" selected disabled>Select connection</option>
            <option *ngFor="let connection of connections$ | async; ; let i = index" [ngValue]="connection.id" [attr.selected]="i == 0 ? true : null">
                {{connection.name}}
            </option>
        </select>

        <textarea class="query-input" formControlName="queryString">{{originalQuery.queryString}}</textarea>

        <formly-form [form]="queryParametersForm" [fields]="fields" [model]="model" [options]="formOptions">
        </formly-form>
        

        <h6>Result</h6>
        <app-query-result [queryResult]="queryResult"></app-query-result>
        <p *ngIf="queryError" class="error">{{queryError.message}}</p>
        <app-loading-indicator [showIndicator]="queryInProggress"></app-loading-indicator>

        <div class="actions">
            <button class="wide" type="submit" [class.gray]="!dirty" [disabled]="!dirty">Save</button>
            <button class="wide" type="button" (click)="runQuery()">Run</button>
            <div class="right">
                <button class="wide" (click)="resetForm()" [class.gray]="!dirty" [disabled]="!dirty">Reset</button>
                <button class="wide red" (click)="deleteQuery()">Delete</button>
            </div>
        </div>

    </div>
</form>