.content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.page-container {
    display: flex;
    width: 100%;
}

main {
    margin: 0 auto;
    padding: 30px 30px 1px;
    background-color: #e8ecf2;
    min-height: 100%;
    min-width: 100%;
}

[class^="col"] {
    padding: 0px;
}
