<div class="connection-card">
    <div class="connection-card-header">
        <img class="connection-icon" src="assets/postgres.svg">
        <h3 class="connection-name">Postgres connection</h3>
        <img class="connection-run-button" src="assets/play-1.svg">
    </div>

    <div class="connection-card-details">
        <ul>
            <li>
                <span>Host</span>
                <p>localhost</p>
            </li>
            <li>
                <span>Port</span>
                <p>5432</p>
            </li>
            <li>
                <span>Database</span>
                <p>admin</p>
            </li>
            <li>
                <span>Username</span>
                <p>postgres</p>
            </li>
            <li>
                <span>Password</span>
                <p>postgres</p>
            </li>
        </ul>
    </div>
</div>