<div class="connection-card">
    <div class="connection-card-header">
        <img class="connection-icon" src="assets/postgres.svg">
        <h3 class="connection-name">{{connection.name}}</h3>
        <img class="connection-run-button" src="assets/play-1.svg">
    </div>

    <div class="connection-card-details">
        <ul>
            <li *ngFor="let item of connection.details | keyvalue">
                <span>{{item.key.toUpperCase()}}</span>
                <p>{{item.value}}</p>
            </li>
        </ul>
    </div>

    <div class="connection-card-footer">
        <button class="thin" (click)="openEditConnectionModal()">Edit</button>
        <button class="thin red" (click)="deleteConnection()">Delete</button>
    </div>
</div>