<div class="connection-list">
    <app-connection-card class="connection-card-item"></app-connection-card>
    <app-connection-card class="connection-card-item"></app-connection-card>
    <app-connection-card class="connection-card-item"></app-connection-card>
    <app-connection-card class="connection-card-item"></app-connection-card>
    <app-connection-card class="connection-card-item"></app-connection-card>
    <div class="connection-card-item create-connection-item">
        <img class="create-connection-icon" src="assets/plus.svg">
    </div>

    <hr>
    <app-create-connection></app-create-connection>
</div>