$input-border-color: rgba(22, 156, 225, 1);
$input-padding: 0px 15px 0px 15px;
$deep-blue: #0061af;

/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif, "Open Sans", "Helvetica Neue", Helvetica, Arial;
    transition: all 0.1s, border-color 0.3s;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.hidden {
    display: none;
}

/* MODAL STYLES
-------------------------------*/

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 0 16px;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    display: flex !important;
    justify-content: center;
    z-index: 10; /* Adjust according to your needs */
}

.modal-open {
    overflow: hidden;
}

.modal-content {
    background-color: #ffffff;
    border-radius: unset;
    margin: 16px auto;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.modal-content-size-m {
    max-width: 992px;
}

.modal-content-size-l {
    max-width: 1200px;
}

.modal-footer,
.modal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 56px;
    padding: 0 16px;

    .title {
        font-weight: bold;
        margin: 0;
        margin-right: auto;
    }

    .close-icon {
        margin-left: auto;
        font-size: 24px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 16px;
}

.modal-footer {
    border-top: 1px solid #cecece;
}

//////////Forms and inputs
.create-connection-form {
    background-color: #fff;
    padding: 15px;
}

.form-header {
    font-weight: bold;
    margin: 0;
    line-height: 1.42857143;
}

.form-group-inline {
    display: flex;
}

.form-group-header {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    hr {
        flex: 1;
    }
    h5 {
        padding: 0px 18px;
    }
}

.form-group {
    margin: 15px 5px 10px 5px;
}

label {
    font-size: 13px;
    font-weight: 600;
    color: #2e3b48;
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    -webkit-appearance: none;
    color: #0a2432;
    border: 1px solid $input-border-color;
    height: 36px;
    line-height: 1.3333333;
    background-color: #fff;
    outline: none;
    border-radius: 0px;
    padding: $input-padding;

    &.inline-edit {
        border: 1px solid rgba(0, 0, 0, 0);
        padding: 0px;

        &:hover {
            border: 1px solid $input-border-color;
        }

        &:focus {
            border: 1px solid $input-border-color;
            padding: $input-padding;
        }
    }
}

input[type="number"] {
    max-width: 115px;
}

.query-paratemer-input {
    input {
        width: auto;
    }
}

button {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    border-width: 0;
    color: #fff;
    background-color: #0061af;
    font-weight: 600;
    margin: 0px 15px 0px 0px;

    &.gray {
        background-color: #a8a8a8;
    }

    &.red {
        background-color: #af0035;
    }

    &.thin {
        padding: 2px 10px;
    }

    &.wide {
        width: 140px;
    }
}

///// loading spinner
.lds-ellipsis {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $deep-blue;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
