/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif, "Open Sans", "Helvetica Neue", Helvetica, Arial;
    transition: all 0.1s;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

/* MODAL STYLES
-------------------------------*/
app-modal {
    /* modals are hidden by default */
    //display: none;

    .app-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        display: flex;
        left: 50%;
        top: 40%;
        transform: translate(-40%, -50%);

        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;

        /* enables scrolling for tall modals */
        overflow: auto;

        .app-modal-body {
            padding: 10px;
            background: #fff;
        }
    }

    .app-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;

        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.app-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

///
/*
  A copy of our modal styles you can use.. its implementers choice what styles they want based on their lib of choice. If you make bootstrap modals, use their styles. Simples.
*/
.modal {
    background-color:rgba(0,0,0,.4);
    bottom:0;
    height:100%;
    left:0;
    overflow: hidden;
    padding: 0 16px;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    display: flex !important;
    justify-content: center;
    z-index: 10; /* Adjust according to your needs */
}

.modal-open {
    overflow: hidden;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 16px auto;
    max-width: 580px;
    position: relative;
    transition: opacity 400ms ease-in-out;
    width: 100%;
    will-change: opacity;
    display: inline-block;
    text-align: left;
}

.modal-content-size-m {
    max-width: 992px;
}

.modal-content-size-l {
    max-width: 1200px;
}

.modal-footer,
.modal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    padding: 0 16px;
}

.modal-header {
    border-bottom: 1px solid #cecece;
}

.modal-body {
    padding: 16px;
}

.modal-footer {
    border-top: 1px solid #cecece;
}